{% extends 'layout/layout.html' %}
{% block content %}
{% load static %}

 <!-- page content -->        
  <div class="text-center" style="text-align: center;">
    <h1>Roles</h1>
  </div>

  
  <div class="d-flex justify-content-end">
    <a href="{% url 'add-roles' %}" class="btn btn-success">Add Roles</a>
  </div>

<!-- /page content -->
{% if role %}
<table class="table mt-4">
  <thead>
    <tr>
      <th>#</th>
      <th>Role</th>
      <th>Status</th>      
      <th>Created At</th>
      <th>Created By</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for roles in role  %}

    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{roles.role_name}}</td>
      <td>
        <label class="switch" onclick="window.location.href='/role-status/{{roles.id}}'">
          <input type="checkbox"  {% if roles.status == True %}checked{% endif %}>
        <span class="slider round"></span>
        </label>
      </td>

       <td>{{roles.created_at}}</td>
        <td>{{roles.created_by}}</td>
        <td>            
          <a href="/edit-roles/{{roles.id}}" class="btn btn-info">Edit</a>
          <a href="/delete-roles/{{roles.id}}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endif %}


{% endblock %}