{% extends 'layout/layout.html' %}

{%block content%}
{% load widget_tweaks %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
	<form method="post" >
	  {% csrf_token %}
	  <h2 class="text-center">Password Reset Confirm</h2>
	  
	  {% for field in form %}
	    		{{ field.label_tag }} 
                {{ field | add_class:"form-control" }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
	  
	  
	  <div class="text-center mt-4">
	    <button type="submit" class="btn btn-primary">Reset Password</button>
	  </div>
	</form>
</div>
</div>
</div>
</div>
</div>
</div>


{%endblock content%}